<p>
    In case you want to experience our events live, follow announcements of future events on
    <a href="https://www.meetup.com/DataForGood-CorrelAid-X-Netherlands/">Meetup</a>,
    <a href="https://www.facebook.com/CorrelAidXNetherlands">Facebook</a>, or
    <a href="https://twitter.com/CorrelAidxNL">Twitter</a>;
    sign-up for our <a href="https://correlaid.us12.list-manage.com/subscribe?u=b294bf2834adf5d89bdd2dd5a&id=915f3f3eff">newsletter</a>;
    or become part of CorrelAid Netherlands by filling out this
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSedU42DDarSFW1IdDUO1WeVCk3mcBr0_9jKqvKHnEWPDiUC-A/viewform">
        short survey</a>.
    We’d be delighted to see you at a future event!
</p>
